<h1> Employee </h1>

<h3><%= @employee.first_name %> </h3>
<h3><%=@employee.last_name%> </h3>
<h3><%= @employee.alias %> </h3>
<h3><%= @employee.title %> </h3>
<h3><%= @employee.office %> </h3>


<img src="<%=@employee.img_url%>" alt = " employee image ">
<%= link_to "INDEX", employees_path %>

 