<h1> Dog </h1>

<label>Name:</label>
<%= @dog.name %><br><br>
<label>Breed:</label>
<%= @dog.breed %><br><br>
<label>Age:</label>
<%= @dog.age %><br><br>
<br>

 <% @dog.employees.each do |e| %>
    <%= e.first_name + " " + e.last_name %>
    <br>
 <% end %>
<br>
<%= link_to "INDEX", dogs_path %>