<h1> Dog </h1>

<h3><%= @dog.name %> </h3>
<h3><%= @dog.breed %> </h3>
<h3><%= @dog.age %> </h3>


 <% @dog.employees.each do |e| %>
    <%= e.first_name + " " + e.last_name %>
    <br>
 <% end %>
<br>
<%= link_to "INDEX", dogs_path %>